body {
	font-size: 18px
}
h2 a{
    display: inline-block;
}

.t-lblue{
	color: #2699FB;
}
.lblue{
	background: #2699FB!important;
}
.btn {
	padding: 0;
}
.btn.trans{
	border: 2px solid #fff;
	color: #fff;
}
.big {
	font-size: 24px;
}

.full {
	overflow-x: hidden !important;
	overflow-y: visible !important;
}
.no-responsive{
	max-width: 100%;
	width: auto;
	height: auto;
}

/* header & menu */
header{
	align-items: center;
	background: transparent;
	display: flex;
	height: 60px;
	position: fixed;
	top: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	width: 100%;
	z-index: 10;
}
header.affix{
	background: #fff;
}
header.affix .btn.trans{
	border: 2px solid #2699fb;
	color: #2699fb;
}
header .buy{
	display: none;
}
header.affix .buy{
	display: flex;
}
.col.menu{
	-ms-flex: 0 0 70px;
	flex: 0 0 70px;
	max-width: 70px;
}
.col.buy{
	-ms-flex: 0 0 150px;
	flex: 0 0 150px;
	max-width: 150px;
}
#menu-toggle{
	background: transparent;
	border: none;
	cursor: pointer;
	height: 60px;
	position: relative;
	width: 100%;
}
#menu-toggle span{
	background: #fff;
	height: 3px;
	position: absolute;
	-webkit-transition: .274s;
	-o-transition: .274s;
	transition: .274s;
	width: 32px;
}
header.affix #menu-toggle span{
	background: #2699fb;
}
#menu-toggle span:nth-child(1){
	left: 10px;
	top: 20px;
}
#menu-toggle span:nth-child(2){
	left: 5px;
	top: 30px;
}
#menu-toggle span:nth-child(3){
	left: 10px;
	top: 40px;
}
#menu-toggle:hover span:nth-child(1){
	left: 10px;
}
#menu-toggle:hover span:nth-child(2){
	left: 15px;
}
#menu-toggle:hover span:nth-child(3){
	left: 10px;
}
menu{
	background: transparent;
	height: 100%;
	left: 0;
	margin: 0;
	opacity: 0;
	position: fixed;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
	top: 0;
	visibility: hidden;
	width: 100%;
	z-index: 100;
}
menu.show{
	background: #fff;
	height: 100%;
	opacity: 1;
	-webkit-transition: background .1s .4s;
	-o-transition: background .1s .4s;
	transition: background .1s .4s;
	visibility: visible;
	width: 100%;
}
menu::after{
	content: '';
	background: #fff;
	border-radius: 100%;
	height: 10px;
	left: calc(50% - 5px); 
	position: absolute;
	top: calc(50% - 5px);
	width: 10px;
}
menu.show::after{
	-webkit-animation: circleOverlay 1s forwards;
	-o-animation: circleOverlay 1s forwards;
	animation: circleOverlay 1s forwards;
}
@keyframes circleOverlay{
	0%{
		-webkit-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
	}
	99%{
		-webkit-transform: scale(1000);
		-ms-transform: scale(1000);
		-o-transform: scale(1000);
		transform: scale(1000);
		visibility: visible;
	}
	100%{
		visibility: hidden;
	}
}
menu ul{
	padding-left: 0;
}
menu ul li{
	list-style: none;
}
menu ul li a{
	color: #3D464D;
	font-size: 32px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	text-transform: uppercase;
}
menu ul li a:hover{
	color: #2699FB;
	position: relative;
}
menu ul li a::after{
	background: #2699FB;
	content: '';
	height: 0;
	left: 0;
	position: absolute;
	top: 0;
	-webkit-transition: .274s;
	-o-transition: .274s;
	transition: .274s;
	width: 4px;
}
menu ul li a:hover::after{
	height: 100%;
}
menu .df-close{
	background: #2699FB;
	border: none;
	border-radius: 100%;
	color: #fff;
	cursor: pointer;
	height: 48px;
	left: 1em;
	opacity: 0;
	position: absolute;
	top: 1em;
	-webkit-transition: opacity .274s;
	-o-transition: opacity .274s;
	transition: opacity .274s;
	width: 48px;
}
menu.show .df-close{
	opacity: 1;
	-webkit-transition: opacity .274s 1.5s;
	-o-transition: opacity .274s 1.5s;
	transition: opacity .274s 1.5s;
}

/* home */
#home, #buy-section{
	background: url('../img/bg.png') no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
	padding-bottom: 3em;
	position: relative;
	z-index: 1;
}
#docademic-canvas{
	left: 0;
	position: absolute;
	top: 0;
}
#home h2{
	color: #fff;
	font-size: 56px;
	margin: 0;
}
#home p{
	font-weight: 600;
	margin: 0;
}
#home .col-8 p:nth-child(2){
	font-size: 24px;
}
#home .col-8 p:nth-child(3){
	color: #000;
	font-size: 32px;
}
#home button{
	background: #00C853;
	font-size: 24px;
	height: 56px;
}

/* mcafee slider*/
#mcafee{
	position: relative;
	z-index: 3;
}
#mcafee::after{
	background: url('../img/mask.png') no-repeat;
	background-position: center;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
	top: -99px;
	content: '';
	height: 100px;
	left: 0;
	overflow: visible;
	position: absolute;
	width: 100%;
	z-index: 2;
}
#mcafee .card{
	border: none;
	-webkit-box-shadow:  0 20px 20px rgba(38,153,251,.2);
	box-shadow:  0 20px 20px rgba(38,153,251,.2);
	margin-top: -200px;
	z-index: 4;
}
#mcafee h2{
	font-size: 24px;
}

/* docademic */
#docademic-info{
	position: relative;
	z-index: 2;
}
#docademic-info::before{
	bottom: -99px;
	background: url('../img/maskr.png') no-repeat;
	background-position: center top;
	-webkit-background-size: 100% 0;
	background-size: 100% 0;
	content: '';
	height: 100px;
	position: absolute;
	width: 100%;
}
#docademic-info.go::before{
	-webkit-background-size: 100% 100px;
	background-size: 100% 100px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
#docademic-info .row h2{
	font-size: 24px;
}

/* blockchain */
#blockchain{
	background: #2699fb;
	overflow-y: visible;
	overflow-x: scroll;
	padding-top: 100px;
	position: relative;
	z-index: 1;
}
#blockchain img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
}
#blockchain .under{
	background: #fff;
	display: block;
	height: 1px;
	width: 100%;
}

/* token economics */
#token-economics{
	background: #f1f9ff;
}
#token-economics .card{
	margin-top: .5em;
}
#token-economics .card.lblue{
	color: #fff;
}
.h-24{
	font-size: 24px;
}
.token-exp{
	font-size: 48px;
	font-weight: 600;
	margin-top: .5em;
}
.token-exp span{
	font-size: 18px;
}
.lblue .token-exp{
	color: #fff;
}

/* charts */
#charts{
	background: #f1f9ff;
	padding-bottom: 9em;
}
.chart-container{
	margin-top: 1em;
}
.chart-container .row{
	position: relative;
}
.chart-container .float{
	left: 0;
	position: absolute;
	top: 4em;
}
.chart-container .col-md-8{
	background: #fff;
	border-radius: 8px;
	padding: 1em 1em 1em 3em;
}

/* roadmap */
#roadmap h2{
	display: inline-block;
	margin: 0 auto;
	padding: 0 .25em .25em;
}
.black-card{
	background: #fff;
	border: 2px solid #2699fb;
	border-radius: 25px;
	color: #3d464d;
	padding: 1em 1.5em;
}
.show-effect .black-card{
	opacity: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.show-effect.left .black-card{
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}
.show-effect.right .black-card{
	-webkit-transform: translateX(50%);
	-ms-transform: translateX(50%);
	-o-transform: translateX(50%);
	transform: translateX(50%);
}
.show-effect .col-md-6 {
	padding: 1em;
	position: relative;
}
.show-effect .col-md-6::after{
	background: #2699fb;
	content: '';
	height: 0;
	position: absolute;
	top: 0;
	-webkit-transition: .274s;
	-o-transition: .274s;
	transition: .274s;
	width: 1px;
}
.show-effect.left .col-md-6::after{
	right: -1px;
}
.show-effect.right .col-md-6::after{
	left: 0;
}
.show-effect .col-md-6::before{
	background: #2699fb;
	border: 1px solid #2699fb;
	border-radius: 50%;
	-webkit-box-shadow: inset 0 0 0 3px #fff;
	box-shadow: inset 0 0 0 3px #fff;
	content: '';
	height: 20px;
	opacity: 0;
	position: absolute;
	top: calc(50% - 10px);
	-webkit-transition: .274s .5s;
	-o-transition: .274s .5s;
	transition: .274s .5s;
	width: 20px;
	z-index: 3;
}
.show-effect.left .col-md-6::before{
	right: -10px;
}
.show-effect.right .col-md-6::before{
	left: -10px;
}
.show-effect.go .col-md-6::after{
	height: 100%;
}
.show-effect.first.go .col-md-6::after{
	height: 50%;
	top: 50%;
}
.show-effect.last.go .col-md-6::after{
	height: 50%;
	top: 0;
}
.show-effect.go .col-md-6::before{
	opacity: 1;
}
.show-effect.go .black-card{
	opacity: 1;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

/* partners*/
#partners{
	background: #2699fb;
	padding-bottom: 160px;
}
#partners img{
	border-radius: 8px;
    margin-top: 1em;
}

/* team */
.team-card{
	border: 1px solid #ccc;
	margin-top: 2em;
	text-align: center;
}
.team-card h2{
	font-size: 24px;
	margin-top: 0;
}
.team-card .img-container{
	border-radius: 5px;
	overflow: hidden;
}
.team-card img{
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.team-card img:hover{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
}
.linkedin, .twitter{
	background: url('../img/in.png') no-repeat;
	background-position: left center;
	display: inline-block;
	-webkit-background-size: 20px;
	background-size: 20px;
	color: #0077B5;
	font-weight: 600;
	height: 20px;
	margin-top: .5em;
	padding-left: 24px;
	width: 20px;
}
.twitter{
	background: url('../img/tw.png') no-repeat;
}
.show-effect.team{
	opacity: 0;
	-webkit-transform: translateY(50%);
	-ms-transform: translateY(50%);
	-o-transform: translateY(50%);
	transform: translateY(50%);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.show-effect.go.team{
	opacity: 1;
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	-o-transform: translateY(0);
	transform: translateY(0);
}
#team{
	position: relative;
}
#team::before{
	top: -99px;
	background: url('../img/mask.png') no-repeat;
	background-position: center bottom;
	-webkit-background-size: 100% 0;
	background-size: 100% 0;
	content: '';
	height: 100px;
	position: absolute;
	width: 100%;
}
#team.go::before{
	-webkit-background-size: 100% 100px;
	background-size: 100% 100px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
#team h2 span{
	font-size: 18px;
	font-weight: 600;
}

/* advisors */
#advisors{
	background: #2699fb;
	padding-top: 100px;
	position: relative;
	z-index: 1;
}
#advisors::before{
	top: -1px;
	background: url('../img/maskr.png') no-repeat;
	background-position: center top;
	-webkit-background-size: 100% 0;
	background-size: 100% 0;
	content: '';
	height: 100px;
	position: absolute;
	width: 100%;
	z-index: 2;
}
#advisors.go::before{
	-webkit-background-size: 100% 100px;
	background-size: 100% 100px;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
#advisors .container{
	position: relative;
}
#advisors > .container > h2{
	left: 50%;
	position: absolute;
	top: -100px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	z-index: 10;
}
.advisor{
    overflow: hidden;
    margin-top: 1em;
}
.advisor .img-container {
	max-width: 120px;
}
.advisor .linkedin,
.advisor .twitter{
	display: inline-block;
}
.advisor .description{
    text-align: left;
}

/* buy */
#buy-section .card-header{
	background: #f1f9ff;
	padding: .5em 0;
}
#buy-section .rel{
	position: relative;
}
#buy-section #help-btn{
	position: absolute;
	right: 32px;
	top: calc(50% - 20px);
	width: 100px;
}















































#buyForm2 iframe {
    border: none;
    width:100%;
}
.table-header{
	background: #0288d1;
}

.table-header p{
	color: #fff;
	font-weight: bold;
}

.table-bottom{
    background: #c8c8c8;
}

.table-bottom p{

}

.table-entry{
    overflow: hidden;
    background: #fff;
}

.colored-entry{
    overflow: hidden;
    background: #f2f2f2;
}

#direct-container{
    text-align: center;
}

#collapseDirect #direct-messageText{
    height: 0;
    overflow-y: hidden;
    padding-left: 1em;
    padding-right: 1em;
}

#collapseDirect #direct-messageText.red,
#collapseDirect #direct-messageText.green{
    height: auto;
    color: #fff;
    margin-top: 1em;
    padding-bottom: .5em;
    padding-top: .5em;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

#collapseDirect #direct-messageText p {
    width: 100%;
}

/* modal */
#register-modal {
	z-index: 99;
}

#register-modal .logo-container {
	margin: 0 auto;
	max-width: 60px;
}

#register-modal #message,
#register-modal #bountyMessage {
	height: 0;
	overflow-y: hidden;
	padding-left: 1em;
	padding-right: 1em;
}

#register-modal #message.green,
#register-modal #bountyMessage.green,
#register-modal #bountyMessage.red,
#register-modal #message.red {
	height: 42px;
	color: #fff;
	margin-top: 1em;
	padding-bottom: .5em;
	padding-top: .5em;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

#second-step #message,
#second-step #message2{
	height: 0;
	overflow-y: hidden;
	padding-left: 1em;
	padding-right: 1em;
}

#second-step #message.green,
#second-step #message2.green,
#second-step #message.red,
#second-step #message2.red {
	height: auto;
	color: #fff;
	margin-top: 1em;
	padding-bottom: .5em;
	padding-top: .5em;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

#second-step #message p ,
#second-step #message2 p {
	width: 100%;
}

#shiftcontainer #message{
	height: 0;
	overflow-y: hidden;
	padding-left: 1em;
	padding-right: 1em;
}

#shiftcontainer #message.green,
#shiftcontainer #message.red {
	height: auto;
	color: #fff;
	margin-top: 1em;
	padding-bottom: .5em;
	padding-top: .5em;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	-ms-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}

#shiftcontainer #message p {
	width: 100%;
}

.hidden-input {
	height: 0;
	overflow-y: hidden;
	padding-left: 1em;
	padding-right: 1em;
}

#register-modal .lightbox-container {
	max-width: 100%;
}

/* the news */
#the-news img{
	margin-top: 1em;
}

#advisors .col-md-6::before{
	opacity: 0!important;
}

/* countdown */
#countdown {
	z-index: 10;
}

#telegram {
	position: absolute;
	top: -35px;
	right: 2em;
}

#notice {
	border: none;
	border-radius: 50%;
	color: #fff;
	font-size: 36px;
	height: 70px;
	position: absolute;
	top: -35px;
	right: calc(2em + 50px);
	width: 70px;
}

#countdown .title {
	-webkit-flex: 0 0 150px;
	-ms-flex: 0 0 150px;
	flex: 0 0 150px;
	font-size: 18px;
	font-weight: 600;
	padding-top: 1em;
	max-width: 150px;
}

#countdown .timer-container {
	-webkit-flex: 0 0 310px;
	-ms-flex: 0 0 310px;
	flex: 0 0 310px;
	max-width: 310px;
	padding: .5em 0;
}

.timer-container {
	font-size: 24px;
}

#sell {
	display: none;
}

#countdown .timer-container.selling {
	-webkit-flex: 0 0 155px;
	-ms-flex: 0 0 155px;
	flex: 0 0 155px;
	max-width: 155px;
}

.timer-container.selling ~ #sell {
	display: flex;
	-webkit-flex: 0 0 200px;
	-ms-flex: 0 0 200px;
	flex: 0 0 200px;
	margin-top: 1em;
	max-width: 200px;
	padding: .5em 0;
}
header .sell, .sell{
	display: none;
}
header.affix .sell.selling, #home .sell.selling{
	display: flex;
}
#countdown .sell.selling{
	display: none;
}
#countdown .sell.selling.affix{
	display: flex;
}
@media screen and (max-width: 768px){
	#countdown .whitepaper.affix{
		display: none;
	}
}

/* footer */
footer {
	/* background: #3d464d; */
	padding: .5em 0;
}

footer #social {
	margin: 0 auto;
	padding: 0;
	width: 150px;
}

footer #social li {
	float: left;
	list-style: none;
}

footer #social li a {
	color: #3d464d;
	font-size: 24px;
	text-align: center;
	width: 50px;
}
footer #social li:last-child a{
	padding: 0 13px;
}

.show-md-down {
	display: none;
}


@media screen and (min-width: 768px){
    .advisor .description{
        background: rgba(255, 255, 255, .8);
        height: 100%;
        left: 0;
        padding: 1em;
        visibility: hidden;
        position: absolute;
        top: 0;
        -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
        -webkit-transition: .5s;
        -o-transition: .5s;
        transition: .5s;
        width: 100%;
    }
    .advisor:hover .description{
        visibility: visible;
        position: absolute;
        -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }  
}

/* buy section */
.buy{
	/*background: url(../img/triangule.png) no-repeat;*/
    background-attachment: fixed;
}
.card.no-border {
	border: none;
}

#buy-section {
    margin-bottom: 70px;
}
#buy-section .input-container.checkbox{
    height: auto;
}
#buy-section .separator{
    background: #ccc;
    display: block;
    height: 1px;
    width: 100%;
}
#buy-steps .card .card-header {
	padding: 1em 0;
}
#buy-steps .card .card-header h3 {
	margin: 0;
}
#notice-modal .img-container {
	margin: 0 auto;
	width: 80px;
}
#faq{
	background: #f1f9ff;
}
#accordion .card{
	margin-top: 1em;
}
#accordion .card-header{
    padding: .5em;
}
#accordion h5 a{
    color: #fff;
    font-size: 18px!important;
    font-weight: 600;
    text-align: center!important;
}
#accordion h5 a .df-close{
	position: absolute;
	right: 15px;
}

.transaction{
    border: 1px solid #ccc;
    height: 135px;
    overflow-y: scroll;
    padding: 0 .5em .5em;
}
#first-step.inactive{
    opacity: 0;
    height: 0;
    visibility: hidden;
}
#first-step-submit.inactive{
	cursor: default;
	background-color: #7b8994;
}

#buyButton.inactive{
    cursor: default;
    background-color: #7b8994;
}
.copy{
    border: 1px solid #ccc;
    padding: .5em;
    position: relative;
}
.copy button{
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 11px;
    position: absolute;
    right: -1px;
    top: -1em;
}
.copy button.copied{
    background: #0288d1;
    color: #fff;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
#second-step{
    visibility: hidden;
    height: 0;
    opacity: 0;
}
#second-step.show{
    visibility: visible;
    height: auto;
    opacity: 1;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}
.input-container.inline input{
    margin-left: 1em;
    width: calc(100% - 1em - 50px);
}

.input-amount.inline input{
    margin-left: 1em;
    width: calc(100% - 1em - 30px);
}


#second-step .nav-link{
	background: #fff;
	border: 1px solid #ccc;
	color: #3d464d;
	text-align: left;
}
#second-step .nav-item{
	margin-right: 1em;
}
#second-step .nav-link.active{
	background: #f2f2f2;
	border: 2px solid #2699fb;
}
#second-step .nav-item:last-child{
	margin-right: 0;
}
#second-step .nav-link img{
	display: block;
	width: 24px;
}
.progress{
	background: #f1f9ff;
	border: 1px solid #ddd;
	height: 50px;
}
.progress-bar{
	font-size: 18px;
	height: 50px;
	padding-top: 14px;
}
.percent-number{
	align-items: center;
	display: flex;
	font-size: 18px;
	left: calc(50% - 25px);
	height: 50px;
	position: absolute;
	width: 50px;
}
#buy-section .small{
	font-size: 11px;
	line-height: 14px;
	margin-top: 2em;
}


/* util bar */
#util-bar{
	background: #fff;
	padding: .5em 0;
}

/* md */
@media screen and (min-width: 769px ) {
	.hidden-md-up{
		display: none;
	}
}
@media screen and (min-width: 992px ) {
	.hidden-lg-up{
		display: none;
	}	
}
@media screen and (max-width: 992px) {
	.hidden-md-down {
		display: none !important;
	}

	.show-md-down {
		display: block;
	}

	.img-table {
		margin-top: 1em;
	}
}

/* mobile */
@media screen and (max-width: 768px) {
	h2 {
		font-size: 24px;
	}
	menu ul li a{
		font-size: 24px;
	}

	/* header */
	.col.pl-4 img.no-responsive{
		width: 90px!important;
		max-width: 90px;
	}

	/* home */
	#home {
		height: auto;
	}
	#home h2{
		color: #fff;
		font-size: 32px;
		margin: 0;
	}
	#home button{
		font-size: 18px;
	}

	/* mcafee */
	#mcafee::after{
		background-position: center;
		-webkit-background-size: 100% 100%;
		background-size: 150% 50px;
		top: -49px;
		height: 50px;
	}
	#mcafee .card{
		-webkit-box-shadow:  0 10px 10px rgba(38,153,251,.2);
		box-shadow:  0 10px 10px rgba(38,153,251,.2);
		margin-top: -100px;
		z-index: 4;

	}
	#mcafee h2{
		font-size: 18px;

	}

	/* docademic info */
	#docademic-info img.no-responsive{
		width: 60px;
	}
	#docademic-info img{
		margin-top: .5em;
	}
	#docademic-info.go::before{
		-webkit-background-size: 150% 50px;
		background-size: 150% 50px;
	}

	/* charts*/
	#charts .col-md-6:nth-child(2) {
		margin-top: 1em;
	}
	.chart-container .float{
		left: 0;
		position: relative;
		top: 0;
	}

	/* roadmap */
	#roadmap .show-effect.go .col-md-6::after,
	#roadmap .show-effect.go .col-md-6::before {
		display: none;
	}

	/* partners */
	#team.go::before{
		-webkit-background-size: 150% 50px;
		background-size: 150% 50px;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
	}

	/* advisors */
	#advisors.go::before{
		-webkit-background-size: 150% 50px;
		background-size: 150% 50px;
		-webkit-transition: .5s;
		-o-transition: .5s;
		transition: .5s;
	}

	#telegram {
		right: 1em;
		top: -20px;
		width: 40px;
	}
	.token-exp{
		font-size: 32px;
	}
}